---
import Content from "../components/Content.astro";
import Masthead from "../components/Masthead.astro";
import TypeWriter from "../components/TypeWriter.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
	<main class="pt-[56px] bg-black w-screen min-h-screen">
		<Masthead />
		<Content>
			<section>
				<p class="mb-8 indent-4 text-white">
					Sup. My name is <b>Slava Ch</b>. Currently, I'm diving into <a
						href="https://laravel.com/"
						><b>Laravel</b>, <a href="https://docs.astro.build/"><b>Astro</b></a
						> & <a href="https://react.dev/"><b>React</b></a>. For now I haven't
						yet defined a clear career path, I'm drawn towards <b
							>frontend development</b
						>. This inclination stems from my desire to translate my creative
						ideas into tangible experiences. Combining technology with
						creativity allows me to craft dynamic and visually stunning
						applications that resonate with users. It's the perfect blend of
						technical expertise and artistic expression that ignites my passion
						for frontend development. Despite my extensive experience with <a
							href="https://vuejs.org/"><b>Vue</b></a
						>
						in commercial projects, what truly captivates me are frontend frameworks
						like <a href="https://react.dev/"><b>React</b></a> and <a
							href="https://docs.astro.build/"><b>Astro</b></a
						>. I would also absolutely not mind putting my skills and enthusiasm
						into creating great projects on <a href="https://reactnative.dev/"
							><b>React Native</b></a
						>.
						<blockquote
							class="indent-0 text-center text-white font-light w-full bg-black opacity-50 hover:opacity-100 transition-opacity duration-500"
						>
							<a href="https://www.github.com/aveok4now">
								<code class="">
									<TypeWriter
										className="text-white"
										words={[
											"I guess it's okay for now",
											"Put my pride to your side",
											"Don't wanna let you down",
											"Take me heart and crash it",
										]}
										loop={false}
										typeSpeed={100}
										deleteSpeed={25}
										client:load
									/>
								</code>
							</a>
						</blockquote>
					</a>
				</p>
			</section>
		</Content>
	</main>
</Layout>
