---
import Content from "../components/Content.astro";
import Masthead from "../components/Masthead.astro";
import {
	ASTRO_LINK,
	LARAVEL_LINK,
	REACT_LINK,
	REACT_NATIVE_LINK,
	VUE_LINK,
} from "../config";
import Layout from "../layouts/Layout.astro";

const title = "About me";
---

<Layout title={title}>
	<Masthead
		page={title}
		video="/video/Windows Down.mp4"
		className="sauturate-150"
	/>
	<Content>
		<section>
			<p class="indent-4">
				tryna make life mine
				</a>
			</p>
		</section>
	</Content>
</Layout>
