---
import Content from "../components/Content.astro";
import Masthead from "../components/Masthead.astro";
---

<main class="pt-[56px] bg-black w-screen min-h-screen">
	<Masthead />
	<Content>
		<section>
			<p class="mb-8 indent-4 text-white">
				Sup.
				<br />
				<blockquote
					class="indent-0 text-white font-light w-full bg-black opacity-50 hover:opacity-100 transition-opacity duration-500"
				>
					<a href="https://www.github.com/aveok4now">
						<code class="">
							I guess it's okay for now <br />
						</code>
					</a>
				</blockquote>
			</p>
		</section>
	</Content>
</main>
