---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, AUTHOR_NAME } from "../config";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${AUTHOR_NAME} - ${title}`}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<Body>
		<slot />
	</Body>
	<Footer />
</html>
